$green-1000:#4D810C;
$green-900: #63a60f;
$green-200: #e0edcf;
$green-100: #eff6e7;
$dark-900: #121212;
$dark-800: #31352b;
$dark-500: #505050;
$red-900: #cf3E3b;
$orange-900: #ff7a00;
$yellow-900: #ffb800;
$silver-600: #c1c1c1;
$silver-100: #f6f6f6;
$white: #ffffff;

%opensans-300 {
  font-family: 'OpenSans-Light';
  font-weight: 300;
}
%opensans-400 {
  font-family: 'OpenSans-Regular';
  font-weight: 400;
}
%opensans-600 {
  font-family: 'OpenSans-SemiBold';
  font-weight: 600;
}
%opensans-700 {
  font-family: 'OpenSans-Bold';
  font-weight: 700;
}
%ruda-400 {
  font-family: 'Ruda-Regular';
  font-weight: 400;
}
%ruda-600 {
  font-family: 'Ruda-SemiBold';
  font-weight: 600;
}
%ruda-700 {
  font-family: 'Ruda-Bold';
  font-weight: 700;
}

