.banner-card {
  padding: 79px 31px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transition: color 0.5s;

  display: flex;
  flex-direction: column;
  height: 100%;

  @include r($xxl) {
    border-radius: $border-accent;
    padding: 76px 16px 39px;
  }
    
  &:hover {
    color: $white;
  }

  &:hover span {
    border-bottom: 2px solid $white;
  }
  
  & h3 {
    font-size: 12px;
    font-weight: 700;
    line-height: $line-height;
    letter-spacing: 0.1em;
    margin-bottom: 18px;

    @include r($xxl) {
      margin-bottom: 15px;
    }
  }

  & p {
    @extend %ruda;
    font-weight: 600;
    @include adaptiv-font(30, 24);
    letter-spacing: normal;
    margin-bottom: 8px;
    max-width: 70%;
    @include line-clamp(30, 1.4, 2);
    flex-grow: 1;
    

    @include r($xxl) {
      margin-bottom: 77px;
      max-width: 79%;
    }
  }

  & a {
    display: inline-block;
    font-weight: 700;
    line-height: $line-height;
    letter-spacing: normal;
    padding-bottom: 6px;
  }

  & span {
    border-bottom: 2px solid $dark-500;
    transition: border-bottom 0.3s;
  }
}