.filter-block {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 48px;

  @include r($sm) {
    margin-bottom: 24px;
  }

  &__item {
    &:not(:last-child) {
      margin-right: 24px;

      @include r($sm) {
        margin-right: 12px;
      }
    }
  }

  &__btn {
    @include adaptiv-font(15, 14);
    font-weight: 700;
    border: 3px solid transparent;
    background-color: transparent;
    text-transform: uppercase;
    border-radius: 0;
    transition: border-bottom 0.5s;

    &:hover,
    &:active {
      border-bottom: 3px solid rgba(99, 166, 14, 0.2);
      }
    }

  &__btn.mixitup-control-active {
    border-bottom: 3px solid rgba(99, 166, 14, 0.2);
  }
}