.news-card {
  border-radius: $border-accent;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.25);
  position: relative;

  &__img {
    object-fit: cover;
  }

  &__date {
    position: absolute;
    top: 0;
    left: 20px;
    width: 65px;
    height: 76px;
    padding-top: 18px;
    background-color: $white;
    text-align: center;

    & span {
      display: block;
      font-size: 10px;
      letter-spacing: 0.1em;
      font-weight: 700;
      text-transform: uppercase;
      margin-bottom: 4px;
      color: $dark-900;

      &:last-child {
        font-size: 30px;
        line-height: $line-height;
        font-weight: 600;
        letter-spacing: normal;
      }
    }
  }

  &__text {
    font-size: 16px;
    font-weight: 600;
    line-height: 1.5;
    color: $dark-900;
    letter-spacing: normal;
    padding: 18px;
    height: 108px;
    @include line-clamp;
    transition: color 0.5s;

    &:hover {
      color: $green-900;
    }
  }
}