.services {
  background-color: $silver-100;
  padding: 49px 0 29px;
  
  &__items {
    max-width: 925px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
  }
  
  &__item {
    max-width: 264px;
    width: 100%;
    background-size: 50px 50px;
    background-position: left top;
    background-repeat: no-repeat;
    position: relative;
    padding-left: 74px;
    letter-spacing: normal;

    &--del {
      background-image: url('../images/icons/service-icons/scooter.svg');
    }

    &--return {
      background-image: url('../images/icons/service-icons/return-box.svg');
    }

    &--support {
      background-image: url('../images/icons/service-icons/24-hours.svg');
    }
  }

  &__title {
    font-size: 16px;
    font-weight: 600;
    color: $dark-900;
    margin-bottom: 6px;
  }
}