.our-news {
  padding-bottom: 72px;

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;

    @include r($xl) {
      display: block;
      // margin-bottom: 24px;
      text-align: center;
    }

    @include r($sm) {
      text-align: left;
    }
  }

  &__title {
    margin-bottom: 0;

    @include r($xl) {
      margin-bottom: 12px;
    }
  }

  &__link {
    text-transform: uppercase;
    font-weight: 700;
    color: $green-900;
    line-height: $line-height;
    padding-bottom: 6px;
    border-bottom: 2px solid $green-900;
    transition: color 0.5s;
    position: relative;

    &:hover, 
    &:active {
      color: $green-1000;
      border-bottom: 2px solid $green-1000;
    }
  }
  
  &__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(285px, 410px));
    grid-gap: 30px;
    justify-content: center;

  }
}