.product-sale {
  background: #F5F5F5;
  text-align: center;

  &__block {
    display: grid;
    grid-gap: 30px 30px;
    grid-template-columns: repeat(4, 300px);
    grid-template-rows: repeat(2, 124px);
    margin-bottom: 48px;
  }

  &__card {
    display: flex;
    padding: 12px;
    background-color: $white;
  }

  &__badges {
    top: 12px;
  }

  &__img {
    margin: 0 12px 0 0;
    max-width: 100px;
    object-fit: cover;
  }
  
  &__desc {
    height: 58px;
  }
  
  &__prices {
    flex-direction: row;
    align-items: center;
    left: 124px;
    bottom: 7px;
  }

  &__price {
    margin-right: 14px;
    font-size: 20px;
    font-weight: 600;
    color: $dark-500;

    & span {
      font-size: 14px;
    }
    
    &--old {
      font-size: 12px;
    }
  }
}