.top-products {
  padding-top: 72px;
  text-align: center;

  &__inner {
    display: grid;
    grid-template-columns: repeat(4, 300px);
    grid-gap: 30px 30px;
    margin-bottom: 45px;
  }
  
  &__btn {
    background-color: $white;
    border: 1px solid $green-900;
    color: $green-900;
    
    &:hover {
      background-color: $green-200;
    }

    &:active {
      box-shadow: inset 0 10px 4px rgba(0, 0, 0, 0.1);
    }

    &:focus {
      box-shadow: 0 0 0 4px rgba(99, 166, 14, 0.5);
      background-color: $white;
    }
  }
}